<template>
  <div>
    <nav class="navbar navbar-light bg-light mt-5 border-1 border-black border d-none d-xl-block d-xl-none bg-light fixed-bottom">
      <footer class="py-3 text-center text-muted">
        <small>&copy;&nbsp;2021</small>
        <small>v0.0.1</small>
      </footer>
    </nav>
    <nav class="navbar navbar-light bg-light mt-5 d-none d-lg-block d-xl-none border-1 border-black border bg-light fixed-bottom">
      <footer class="py-3 text-center text-muted">
        <small>&copy;&nbsp;2021</small>
        <small>v0.0.1</small>
      </footer>
    </nav>
  </div>
</template>
