<template>
  <div class="container mt-3 mb-5">
    <div class="row">
      <div class="col-12">
        <div class="card box-shadow mb-5">
          <div class="card-body">
            <h3>Detailnya</h3>
            <p class="text-muted">
              Data detail sentimennya ada dibawah, kalo mau export hasilnya tinggal tekan tombol export csv,
              baru ada opsi untuk csv aja sih, buat excel ato pdf ntar ya dibuat :v.
            </p>
            <div class="text-right mb-3">
              <NuxtLink to="/process" class="btn btn-sm btn-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                </svg>
                <span class="align-middle">Kembali</span>
              </NuxtLink>
              <a :href="downloadUri" type="button" class="btn-sm btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-file-earmark-spreadsheet" viewBox="0 0 16 16">
                  <path
                    d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V9H3V2a1 1 0 0 1 1-1h5.5v2zM3 12v-2h2v2H3zm0 1h2v2H4a1 1 0 0 1-1-1v-1zm3 2v-2h3v2H6zm4 0v-2h3v1a1 1 0 0 1-1 1h-2zm3-3h-3v-2h3v2zm-7 0v-2h3v2H6z" />
                </svg>
                <span class="align-middle">Export csv</span>
              </a>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-sm">
                <thead>
                  <tr>
                    <th style="white-space: nowrap;">Kira-kira sentimennya</th>
                    <th>Orang yang komen</th>
                    <th>Tanggal dikomen</th>
                    <th style="white-space: nowrap;">Bintangnya dikasi</th>
                    <th>Komenannya</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="review in reviews" :key="review.id">
                    <td v-if="review.sentiment_analysis[0]['vote'] === 'negative'">
                      <span class="btn btn-danger btn-sm">{{ review.sentiment_analysis[0]['vote'] }}</span>
                    </td>
                    <td v-else-if="review.sentiment_analysis[0]['vote'] === 'neutral'">
                      <span class="btn btn-info btn-sm">{{ review.sentiment_analysis[0]['vote'] }}</span>
                    </td>
                    <td v-else>
                      <span class="btn btn-success btn-sm">{{ review.sentiment_analysis[0]['vote'] }}</span>
                    </td>
                    <td>{{ review.user_name }}</td>
                    <td style="white-space: nowrap;">{{ review.date | formatDate }}</td>
                    <td class="text-center">{{ review.score }}</td>
                    <td>
                      <p style="white-space: normal !important;">{{ review.text }}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</template>
<script>
  import moment from 'moment';
  export default {
    data() {
      return {
        app_id: '',
        reviews: {},
        downloadUri: '',
      }
    },
    filters: {
      formatDate(val) {
        return moment(val, "YYYYMMDD").fromNow();
      }
    },
    methods: {
      async fethData() {
        this.$toast.show('Meload data ...');
        await this.$axios.get(`http://47.254.242.235:81/reviews/${this.app_id}`)
          .then(res => {
            this.reviews = res.data.data;
            this.$toast.clear();
          }).catch(err => {
            this.$toast.error('Terjadi kesalahan, gagal mengambil data');
          });
      }
    },
    mounted() {
      this.fethData();
    },
    created() {
      this.app_id = this.$route.query.app_id;
      this.downloadUri = `http://47.254.242.235:81/reviews/export/csv/${this.app_id}`
    }
  }

</script>

<style scoped>
  .box-shadow {
    box-shadow: 8px 8px #888888;
    transition: 0.3s;
  }

  .box-shadow:hover {
    box-shadow: 2px 2px #888888;
  }

</style>
