<template>
  <div class="container-fluid mt-3 mb-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="card box-shadow">
          <div class="card-body">
            <h2>Cara Pakainya</h2>
            <p class="text-muted">Sebenarnya cara pakainya gampang sih. Baca-baca aja dulu yaa.</p>
            <section>
              <p class="text-muted">
                Jadi web ini tuh bisa dipakai buat ngambil data-data komenan rang-orang dari aplikasi yang ada di <i>Playstore</i>.
                Untuk ngambil datanya yang diperlukan tuh ID aplikasinya, mau ngambilnya berdasarkan apa, sama jumlah data yang mau diambil berapa.
                Kalu ketiga-tiga tadi udah punya tinggal langsung aja kemenu Let's Rock lengkapi datanya kemudian tekan deh tombol ambil.
                Lama waktu buat ngambil datanya tergantung banyak data yang ingin diambil sih, semakin banyak data yang mau diambil otomatis
                <i>loading</i>nya juga bakalan lama.
              </p>
            </section>
	   <section>
            <p class="text-muted">
              Untuk hasil export sendiri baru cuma ada buat csv aja, terus kolom-kolom datanya rada banyak juga. Tapi jan bingung dulu gampang aja kok :v, detailnya tuk masing-masing kolomnya ada dibawah, ok!.</p>
<div class="table-responsive">
<table class="table table-hover table-bordered table-sm">
	<tr>
         <th>id</th>
         <td class="text-muted">cuma id dari datanya aja kok</td>
       </tr>
	<tr>
         <th>user_name</th>
         <td class="text-muted">Nama orang yang komen</td>
       </tr>
	<tr>
         <th>user_image</th>
         <td class="text-muted">Gambar orangnya</td>
       </tr>
	<tr>
         <th>date</th>
         <td class="text-muted">Tanggal dia komen</td>
       </tr>
	<tr>
         <th>score</th>
         <td class="text-muted">Bintang yang dia kasih keappnya</td>
       </tr>
	<tr>
         <th>text</th>
         <td class="text-muted">Komenannya</td>
       </tr>
	<tr>
         <th>sentiment_analysis[0]["score"]</th>
         <td class="text-muted">Skor dari analisa sentimennya</td>
	</tr>
	<tr>
         <th>sentiment_analysis[0]["num_words"]</th>
         <td class="text-muted">Jumlah kata yang dalam komenannya</td>
	</tr>
	<tr>
         <th>sentiment_analysis[0]["num_hits"]</th>
         <td class="text-muted">Jumlah kata yang dianalisa sentimennya</td>
	</tr>
	<tr>
         <th>sentiment_analysis[0]["average"]</th>
         <td class="text-muted">Hasil dari skor dibagi jumlah kata</td>
	</tr>
	<tr>
         <th>sentiment_analysis[0]["type_dict"]</th>
         <td class="text-muted">Dict yang dipake, bisa afinn, senticon ato pattern</td>
	</tr>
	<tr>
         <th>sentiment_analysis[0]["locale"]</th>
         <td class="text-muted">Locale dari katanya (indonesia kok)</td>
	</tr>
	<tr>
         <th>sentiment_analysis[0]["vote"]</th>
         <td class="text-muted">Klasifikasi sentimennya, kalo besar dari nol jadi Positif, kalo sama dengan nol jadi netral, dan kalo kecil dari nol jadi Negatif</td>
	</tr>
	</table>
</div>
           </section>
            <section>
              <p class="text-muted">
                Itu aja sih cara pakainya. Mudah-mudahan gampang yahh.
              </p>
            </section>
          </div>
        </div>
      </div>
    </div>
<br><br><br><br>
  </div>
</template>

<style scoped>
  .box-shadow {
    box-shadow: 8px 8px #888888;
    transition: 0.3s;
  }

  .box-shadow:hover {
    box-shadow: 2px 2px #888888;
  }
</style>
