<template>
  <div class="container-fluid mt-5 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="mt-5">
            <h1>PRSA</h1>
            <p class="text-muted">
              PRSA tuh singkatan dari <i><b>Playstore Reviews Sentiment Analysis</b></i>,
              emang sih namanya gak keren:(. Jadi kalo mau komen ato apa ntar lewat email aja ya,
              emailnya ntar ada dibawah
            </p>
            <NuxtLink to="/process" class="btn-lg btn btn-primary">
              Oke, pen langsung liat.
            </NuxtLink>
          </div>
        </div>
        <div class="col-lg-8"></div>
      </div>
    </div>
    <br>
     <div style="width:100%;" class="mt-3 mb-3 border border-right-0 border-left-0 border-bottom-0"></div>
     <br>
     <div class="container">
      <div class="row mt-4 mb-5">
        <div class="col-lg-12 text-center">
        <h4>Kontak</h4>
        <p class="text-muted">
          Kalo mau kasi saran ato komen ato sekedar nak kenalan (Karena orang bijak pernah berkata: <i>"Tak Kenal Maka Kenalan"</i>)
           kamu bisa kok hubungin aku di <b>rajaazian08@gmail.com</b>.
        </p>
        </div>
      </div>
     </div>
     <br><br>
  </div>
</template>

<script>
export default {}
</script>
