<template>
  <div class="container mt-3 mb-5">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
        <div class="card box-shadow">
          <div class="card-body">
            <h3>Ambil data baru?</h3>
            <p class="text-muted">
              Terkadang data baru lebih baik :v
            </p>
            <form method="POST" @submit.prevent="scrappingData">
              <div class="form-group">
                <label>ID Aplikasi</label>
                <input v-model="form.app_id" type="text" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Cari berdasarkan</label>
                <select name="sort" v-model="form.sort" class="form-control" required>
                  <option value="NEWEST">NEWEST</option>
                  <option value="RATING">RATING</option>
                  <option value="HELPFULNESS">HELPFULNESS</option>
                </select>
              </div>
              <div class="form-group">
                <label>Mau berapa data?</label>
                <input type="number" v-model="form.num" class="form-control" required>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="mr-2 bi bi-cart2" viewBox="0 0 16 16">
                    <path
                      d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                  </svg>
                  <span class="align-middle">Ambill</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="card box-shadow">
          <div class="card-body">
            <h3>Data sebelumnya</h3>
            <p class="text-muted">
              Beberapa data yang pernah di ambil sebelumnya, ada dibawah ya. Data paling baru biasanya ada dipaling bawah.
            </p>
            <div class="table-responsive">
              <table class="table table-hover table-bordered table-sm">
                <thead>
                  <tr>
                    <th>ID Aplikasi</th>
                    <th>Dicari berdasarkan</th>
                    <th style="white-space: nowrap;">Tanggal diambil</th>
                    <th>Detailnya</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="data in appData" :key="data._id">
                    <td>{{ data.app_id }}</td>
                    <td>{{ data.sort }}</td>
                    <td>{{ data.createdAt | formatDate }}</td>
                    <td>
                      <NuxtLink :to="{ path:'/details', query: {app_id: data._id} }" class="btn btn-info btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-eyeglasses" viewBox="0 0 16 16">
                          <path
                            d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                        </svg>
                        <span class="align-middle">Detail</span>
                      </NuxtLink>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</template>
<script>
  import moment from 'moment';
  export default {
    data() {
      return {
        appData: {},
        form: {
          app_id: '',
          num: '',
          sort: ''
        }
      }
    },
    filters: {
      formatDate(val) {
        return moment(val, "YYYYMMDD").fromNow();
      }
    },
    methods: {
      async fethData() {
        this.$toast.show('Meload data ...');
        await this.$axios.get('http://47.254.242.235:81/reviews').then(res => {
          this.appData = res.data.data;
          this.$toast.clear();
        }).catch(err => {
          this.$toast.error('Terjadi kesalahan, gagal mengambil data');
        });
      },
      async scrappingData() {
        this.$toast.show('Mengambil data ...');
        await this.$axios.post('http://47.254.242.235:81/reviews', this.form)
          .then(() => {
            this.$toast.success('Berhasil mengambil data');
            this.fethData();
          }).catch(err => {
            this.$toast.error('Terjadi kesalahan, gagal mengambil data');
          })
        this.form.app_id = "";
        this.form.sort = "";
        this.form.num = "";
      }
    },
    created() {
      this.fethData();
    }
  }

</script>

<style scoped>
  .box-shadow {
    box-shadow: 8px 8px #888888;
    transition: 0.3s;
  }

  .box-shadow:hover {
    box-shadow: 2px 2px #888888;
  }

</style>
